button {
  width: 281px;
  height: 73px;

  background-color: transparent;
  outline: none;
  border: 2px solid #fa00ff;

  border-radius: 32px;

  font-size: 25px;

  color: #ffffff;

  margin-left: 40px;

  cursor: pointer;
}
