button {
  width: 17.563rem;
  height: 4.563rem;

  background-color: transparent;
  outline: none;
  border: 0.125rem solid #fa00ff7f;

  border-radius: 2rem;

  font-size: 1.563rem;

  color: #ffffff;

  margin-left: 2.5rem;

  cursor: pointer;
}
