@keyframes float {
  0% {
    box-shadow: 0 0.313rem 0.938rem 0rem rgba(0, 0, 0, 0.6);
    transform: translatey(0rem) rotate(15.41deg);
  }
  50% {
    box-shadow: 0 1.563rem 0.938rem 0rem rgba(0, 0, 0, 0.2);
    transform: translatey(-1.25rem) rotate(15.41deg);
  }
  100% {
    box-shadow: 0 0.313rem 0.938rem 0rem rgba(0, 0, 0, 0.6);
    transform: translatey(0rem) rotate(15.41deg);
  }
}

.card {
  width: 14.179rem;
  height: 8.391rem;

  margin-bottom: 24.375rem;
  margin-left: -6.875rem;

  position: absolute;

  animation: float 6s ease-in-out infinite;

  background: linear-gradient(
    185.7deg,
    rgba(196, 196, 196, 0.6) -44.88%,
    rgba(196, 196, 196, 0.1) 137.7%
  );
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.625rem);
  border-radius: 1.25rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.18);
  transform: rotate(15.41deg);

  img {
    display: flex;
    transform: rotate(-14deg);
    margin-top: 4.375rem;
    margin-left: 1.25rem;
  }

  .name {
    margin-left: 1.25rem;
    margin-top: 0.313rem;

    font-size: 0.438rem;
  }

  .ellipses {
    display: flex;
    position: absolute;

    margin-bottom: 5.625rem;
    margin-left: 10rem;
    margin-bottom: 5.313rem;

    img {
      position: absolute;
    }

    .ellipse1 {
      margin-left: 0.25rem;
    }
  }
}
