@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) rotate(15.41deg);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px) rotate(15.41deg);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) rotate(15.41deg);
  }
}

.card {
  width: 226.87px;
  height: 134.25px;

  margin-bottom: 390px;
  margin-left: -110px;

  position: absolute;

  animation: float 6s ease-in-out infinite;

  background: linear-gradient(
    185.7deg,
    rgba(196, 196, 196, 0.6) -44.88%,
    rgba(196, 196, 196, 0.1) 137.7%
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  transform: rotate(15.41deg);

  img {
    display: flex;
    transform: rotate(-14deg);
    margin-top: 70px;
    margin-left: 20px;
  }

  .name {
    margin-left: 20px;
    margin-top: 5px;

    font-size: 7px;
  }

  .ellipses {
    display: flex;

    position: absolute;

    margin-bottom: 90px;
    margin-left: 160px;
    margin-bottom: 85px;

    img {
      position: absolute;
    }

    .ellipse1 {
      margin-left: -4px;
    }
  }
}
