.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    width: 74.5rem;
    height: 38.938rem;

    border-radius: 2.5rem;
    border: 0.188rem solid rgba(255, 255, 255, 0.18);

    background: linear-gradient(
        255.43deg,
        rgba(15, 10, 240, 0.12) 1.61%,
        rgba(22, 18, 206, 0.02) 137.06%
      ),
      linear-gradient(
        105.08deg,
        rgba(235, 0, 255, 0.2) -58.44%,
        rgba(222, 5, 241, 0.05) 178.74%
      );
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.25rem);

    span {
      color: #e200ff;
    }

    main {
      display: flex;
      justify-content: space-around;
      margin-top: 3.125rem;
    }

    .title {
      font-size: 4.375rem;
    }

    .description {
      text-align: left;
      max-width: 38.125rem;

      font-size: 1.563rem;

      margin-top: 0.625rem;

      line-height: 1.813rem;
      letter-spacing: 0.05em;
    }

    .button {
      margin-top: 2.5rem;
      margin-left: 3.125rem;
    }

    .stats-container {
      display: flex;
      justify-content: space-between;

      font-size: 4.688rem;

      margin-top: 3.125rem;

      .stats-descriptions {
        font-size: 1.25rem;
        text-align: center;
      }
    }

    .robotchander {
      position: absolute;
      display: flex;
      margin-bottom: 5rem;
    }

    .dollar-sign {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5.438rem;
      height: 5.438rem;

      border-radius: 50%;

      background: linear-gradient(0deg, #c4c4c4, #c4c4c4),
        linear-gradient(
          127.15deg,
          #c4c4c4 39.79%,
          rgba(196, 196, 196, 0) 70.25%
        );
      border: 0.063rem solid #b0b0b0;
      position: absolute;
      margin-bottom: 3.75rem;
      margin-left: -1.875rem;
    }
  }
}
